{% extends 'base.html.twig' %}

{% block title %} Buscar Libro por Título y Biblioteca {% endblock %}

{% block body %}
    <h1>Buscar Libro por Título y Biblioteca</h1>

    <form action="{{ path('buscar_libro_titulo_biblioteca') }}" method="get">
        <label for="titulo">Título:</label>
        <input type="text" id="titulo" name="titulo" required>

        <label for="nombreBiblioteca">Biblioteca:</label>
        <input type="text" id="nombreBiblioteca" name="nombreBiblioteca" required>

        <button type="submit">Buscar</button>
    </form>

    <ul>
        {% for libro in libros %}
            <li>
                <h2>{{ libro.titulo }}</h2>
                <p>{{ libro.biblioteca.nombre }}</p>
            </li>
        {% else %}
            <li>No hay libros disponibles.</li>
        {% endfor %}
    </ul>
{% endblock %}