{% extends 'base.html.twig' %}

{% block title %}Buscar libros{% endblock %}

{% block body %}
    <h1>Buscar libros por Título y Disponibilidad</h1>

    <form action="{{ path('buscar_libro_titulo_disponibilidad') }}" method="post">
        <label for="titulo">Título del libro:</label>
        <input type="text" id="titulo" name="titulo" required>
        <input type="submit" value="Buscar">
    </form>
    
    {% for titulo, bibliotecas in libros %}
        <h2>{{ titulo }}</h2>
        {% for nombreBiblioteca, libro in bibliotecas %}
            <b><p>Biblioteca:</b> {{ nombreBiblioteca }}</p>
            <b><p>Número de ejemplares:</b> {{ libro.num_ejemplares }}</p>
        {% endfor %}
    {% else %}
        <p>No se encontraron libros.</p>
    {% endfor %}
{% endblock %}