{% extends 'base.html.twig' %}

{% block title} Buscar Biblioteca por Ciudad {% endblock %}

{% block body %}
    <h1>Buscar Biblioteca por Ciudad</h1>

    <form action="{{ path('buscar_biblioteca_ciudad') }}" method="get">
        <label for="ciudad">Ciudad:</label>
        <input type="text" id="ciudad" name="ciudad" required>
        <button type="submit">Buscar</button>
    </form>

    <ul>
        {% for biblioteca in bibliotecas %}
            <li>
                <h2>{{ biblioteca.nombre }}</h2>
                <p>{{ biblioteca.direccion }}</p>
            </li>
        {% else %}
            <li>No hay bibliotecas disponibles.</li>
        {% endfor %}
    </ul>
{% endblock %
