{% extends 'base.html.twig' %}

{% block title %}Listar Bibliotecas{% endblock %}

{% block body %}
    <h1>Listar Bibliotecas</h1>

    <ul>
        {% for biblioteca in bibliotecas %}
            <li>
                <h2>{{ biblioteca.nombre }}</h2>
                <p>{{ biblioteca.direccion }}</p>
            </li>
        {% else %}
            <li>No hay bibliotecas disponibles.</li>
        {% endfor %}
    </ul>
{% endblock %}
