{% extends 'base.html.twig' %}
{% block body %}

<h1>Listar Bibliotecas</h1>

<ul>
    {% for biblioteca in bibliotecas %}
        <li>
            <h2>{{ biblioteca.nombre }}</h2>
            <p>{{ biblioteca.direccion }}</p>
            <form action="{{ path('borrar_biblioteca', {'id': biblioteca.id}) }}" method="post">
                <button type="submit" class="btn btn-danger">Borrar</button>
            </form>
        </li>
    {% else %}
        <li>No hay bibliotecas disponibles.</li>
    {% endfor %}
</ul>
{% endblock %}